<h1>Articles#index</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>


<%= link_to "New article", new_article_path%>

<%= form_with url: import_articles_path, method: :post do |form|%>
  <%= form.file_field :file, accept: ".csv" %>
  <%= form.button "Import" %>
<% end %>
